namePrefix: local-

resources:
- ../default

# Local development specific
patches:
  # Update webhooks for minikube
  - path: webhook_patch_minikube.yaml
  
  # Add match config for admission webhook
  - path: match_conditions_patch.yaml
    target:
      kind: ValidatingWebhookConfiguration
      group: admissionregistration.k8s.io
      version: v1
      name: validating-webhook-configuration