- op: replace
  path: /webhooks/0/matchConditions
  value:
  - name: "ignore-subresources"
    expression: "(!has(request.subResource) || request.subResource == '')"
  - name: "require-argocd-annotation"
    expression: "has(object.metadata) && has(object.metadata.annotations) && 'argocd.argoproj.io/tracking-id' in object.metadata.annotations"
  - name: "allow-local-governance-requests"
    expression: "!has(request.userInfo) || !has(request.userInfo.username) || (request.userInfo.username != 'system:serviceaccount:controller-system:local-qubmango-controller-controller-manager' && request.userInfo.username != 'minikube-user' && request.userInfo.username != 'system:serviceaccount:kube-system:generic-garbage-collector')"
    # Allow requests from:
    # 1. The service account when running in cluster: system:serviceaccount:controller-system:local-qubmango-controller-controller-manager
    # 2. minikube-user when running locally with 'make run'