---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - argoproj.io
  resources:
  - applications
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - governance.nazar.grynko.com
  resources:
  - governancequeues
  - manifestchangeapprovals
  - manifestrequesttemplates
  - manifestsigningrequests
  - qubmangoindices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - governance.nazar.grynko.com
  resources:
  - governancequeues/finalizers
  - manifestchangeapprovals/finalizers
  - manifestrequesttemplates/finalizers
  - manifestsigningrequests/finalizers
  - qubmangoindices/finalizers
  verbs:
  - update
- apiGroups:
  - governance.nazar.grynko.com
  resources:
  - governancequeues/status
  - manifestchangeapprovals/status
  - manifestrequesttemplates/status
  - manifestsigningrequests/status
  - qubmangoindices/status
  verbs:
  - get
  - patch
  - update
