---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - governance.nazar.grynko.com
  resources:
  - manifestrequesttemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - governance.nazar.grynko.com
  resources:
  - manifestrequesttemplates/finalizers
  verbs:
  - update
- apiGroups:
  - governance.nazar.grynko.com
  resources:
  - manifestrequesttemplates/status
  verbs:
  - get
  - patch
  - update
