version: "3"

env:
  REPO_URL: https://github.com/AlwaysSayNo/quorum-based-manifests-governance-test.git
  SSH_REPO_URL: git@github.com:AlwaysSayNo/quorum-based-manifests-governance-test.git
  REPO_NAME: quorum-based-manifests-governance-test
  REPOS_FOLDER_PATH: repos

tasks:

  init:01-init-repo:
    cmds:
      - bash init/git-test-setup.sh ${REPO_URL} ${REPO_NAME}
    desc: "Initialize the test Git repository with necessary manifests"
  
  init:02-create-argo:
    desc: "Install ArgoCD to cluster and the test application into the GKE cluster"
    cmds:
      - kubectl create namespace argocd || true
      - kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
      - kubectl wait --for=condition=ready pod --all -n argocd --timeout=300s
      - kubectl get pods -n argocd
  
  init:03-deploy-app:
    cmds:
      - kubectl create namespace test-app || true
      - kubectl apply -f ./${REPOS_FOLDER_PATH}/${REPO_NAME}/app-manifests/app.yaml
    desc: "Deploy the test application to the GKE cluster"

  init:04-clone-repo:
    cmds:
      - git clone ${REPO_URL} ./${REPOS_FOLDER_PATH}
    desc: "Clones the shared test repository to your local machine"
  
  # Trigger ArgoCD sync button
  dev:commit-dummy-change:
    desc: "Simulates a developer pushing a change to the shared GitHub repo"
    cmds:
      - (cd ./{{.REPOS_FOLDER_PATH}}/{{.REPO_NAME}} && bash ../../commit-dummy.sh)

  dev:create-mrt:
    desc: "Create a ManifestRequestTemplate in the cluster"
    cmds:
      - (cd ./{{.REPOS_FOLDER_PATH}}/{{.REPO_NAME}} && bash ../../create-dummy-mrt.sh ${SSH_REPO_URL} ${REPO_NAME})

  dev:commit-all:
    desc: "Commit all changes in the local repo and push to GitHub"
    cmds:
      - | 
        (
        cd ./{{.REPOS_FOLDER_PATH}}/{{.REPO_NAME}} &&
        git pull origin main &&
        git add . &&
        git commit -m "Dev commit all changes" &&
        git push origin main
        )
  
  dev:describe-webhook:
    desc: "Describe the governance webhook in the cluster"
    cmds: 
      - kubectl describe validatingwebhookconfiguration local-controller-validating-webhook-configuration

  dev:run-proxy-ngrok:
    desc: "Run ngrok to expose local controller webhook server"
    cmds:
      - ngrok http https://localhost:9443

  dev:argocd-forward-ports:
    desc: "Forward ArgoCD server ports to localhost"
    cmds:
      - kubectl port-forward svc/argocd-server -n argocd 8080:443

  dev:argocd-get-password:
    desc: "Get the ArgoCD initial admin password"
    cmds:
      - kubectl -n argocd get secret argocd-initial-admin-secret -o jsonpath="{.data.password}" | base64 -d | xargs echo